<h1>Olá, bem vindo ao meu blog</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <%if post.description? %>
 <h2> <%= link_to post.title, post %> </h2>
    <%end %>
<% end %>

<% #criando um botão para ir até a pagina posts %>
<%= link_to "Posts", posts_path %>